[Unit]
Description=/r/DesiMeta invitebot
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/desimeta-invite-bot
ExecStart=/root/desimeta-invite-bot/index.js
TimeoutStartSec=0
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
